= content_for :title, @team.title

%section.section-dark.main-header
  .container-fluid
    .row-fluid
      .span4
        %h1 Editing Team

%section
  .container-fluid
    .row-fluid
      .span12
        = render 'form'