= content_for :title, 'New Team'

%section.section-dark.main-header
  .container-fluid
    .row-fluid
      .span4
        %h1 New Team

%section
  .container-fluid
    .row-fluid
      .span12
        = render 'form'