ranks.json
log
tmp
config/database.yml
config/avicus.yml
*.local
sftp-config.json
.idea
/db/*.sqlite3
/db/*.sqlite3-journal
public/uploads
*.DS_Store
Gemfile.lock
*.swp
*~
*.rdb
*.orig
lib/tasks/avitasks.rake

*.iml
*.sass-cache/*
public/assets
