= content_for :title, 'Editing Tournament'

%section.section-dark.main-header
  .container-fluid
    .row-fluid
      .span12
        %h1
          Editing Tournament

%section.section-last.section-padded
  .container-fluid
    .row-fluid
      = render 'form'