= content_for :title, 'New Tournament'

%section.section-dark.main-header
  .container-fluid
    .row-fluid
      .span12
        %h1
          New Tournament

%section.section-last.section-padded
  .container-fluid
    .row-fluid
      = render 'form'