= content_for :title, '404 - Page Not Found!'

.banner{style: 'height: 220px'}
  %img{src: '/assets/defense.png'}
  .overlay
    %h1.pull-right{style: 'font-size: 80px;'}
      404
      %br
      %small{style: 'font-size: 20px'} The requested page could not be found.
