= content_for :title, 'Website Ban'
%section.section-dark.main-header
  .container-fluid
    .row-fluid
      .span12
        %h1 Forum Maintenance in Progress...
        %p Access to the forums is currently unavailable! Sorry about that!

%section.section-padded
  .container-fluid
    .row-fluid
      %blockquote
        %p
          Fearlessness is not the absence of fear. It's the mastery of fear. It's about getting up more times than we fall down.
        %small
          Arianna Huffington, editor-in-chef of The Huffington Post.
    %hr
    .row-fluid
      .span12.text-center
        %h3
          You can follow us on our
          %a{href: ''} Twitter 
          for the most up to date news and information about when the forums will return.

        %br
        %p
          %strong NOTE:
          You can still access other parts of the website!
