%html{:lang => 'en', :prefix => 'og: http://ogp.me/ns#'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %link{:href => '/favicon.ico', :rel => 'shortcut icon'}
    %title 
        = ORG::NAME 
        API

    %meta{:property => 'og:title', :content => "API"}
    %meta{:property => 'og:type', :content => 'website'}
    %meta{:property => 'og:url', :content => request.original_url}
    %meta{:property => 'og:description', :content => "The API"}
    %meta{:name => 'description', :content => "The API"}
  %body
    %center
      %h1{style: 'padding-top: 55px;font-size: 166px'}
        Hello!
        %small You found the API!

      %p
        Good morning. In less than an hour, aircraft from here will join others from around the world. And you will be launching the largest aerial battle in this history of mankind.
        %br
        Mankind -- that word should have new meaning for all of us today.
        %br
        We can't be consumed by our petty differences anymore.
        %br
        We will be united in our common interests.
        %br
        Perhaps its fate that today is the 4th of July, and you will once again be fighting for our freedom, not from tyranny, oppression, or persecution -- but from annihilation.
        %br
        We're fighting for our right to live, to exist.
        %br
        And should we win the day, the 4th of July will no longer be known as an American holiday, but as the day when the world declared in one voice:
        %br
        "We will not go quietly into the night!
        %br
        We will not vanish without a fight!
        %br
        We're going to live on!
        %br
        We're going to survive!"
        %br
        Today, we celebrate our Independence Day!